CMakeFiles
*~
*.cmake
Makefile
src/libuca.so*
test/
libuca.spec
src/config.h
*.rpm
install_manifest.txt
_CPack_Packages
*.orig
tools/benchmark
tools/gen-doc
tools/grab
tools/grab-async
tools/gui/control
tools/perf
