*~
*.cmake
*.orig
*.rpm
_CPack_Packages
build*/
CMakeFiles
install_manifest.txt
libuca.spec
Makefile
src/config.h
src/libuca.so*
tags
test/
tools/benchmark
tools/gen-doc
tools/grab
tools/grab-async
tools/gui/control
tools/perf
