/* --- Reset ------------------------------------------------------ */

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}

/* --- Main ------------------------------------------------------- */

html {
    font-family: "Droid Serif", serif;
}

body {
    max-width: 800px;
    text-align: left;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

p {
    margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted #bbb;
}

h2 {
    font-size: 1.375em;
    line-height: 1.0909em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2em;
}

h4 {
    font-size: 1.125em;
    line-height: 1.333em;
}

h5, h6 {
    font-size: 1em;
    line-height: 1.5em;
}

h1 > a {
    color: #555;
    text-decoration: none;
}

a {
    color: #8e3557;
    text-decoration: none;
}

a:hover {
    color: #88a33e;
}

h1:hover :after,
h2:hover :after,
h3:hover :after,
h4:hover :after,
h5:hover :after,
h6:hover :after {
    content: " \2191";
}

pre {
    margin-bottom: 24px;
    line-height: 1.2em;
    font-size: large;
}

code {
    font-family: "Inconsolata", monospace;
}

ul, ol {
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1em;
    margin-left: 0;
    margin-bottom: 24px;
}

ul#toc {
    list-style-type: none;
}

ul ul,
ol ol {
    margin: 0 0 0 24px;
}

table {
    margin-top: 1em;
    margin-bottom: 24px;
    padding: 1em;
}

th {
    color: #555;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    border-bottom: 1px dotted #bbb;
}

td, th {
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

dl {
    margin-bottom: 24px;
}

dt {
    font-style: italic;
}

dd {
    margin-top: 12px;
    padding-left: 1em;
}

.title {
    font-size: xx-large;
    color: #555;
}

.author {
    font-size: 1.25em;
    font-weight: normal;
    color: #555;
}
